<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>All Tasks</h1>
  <table>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
    <p *ngFor="let task of tasks">
    <tr>
      <td>{{ task.title }}</td>
      <td>
        <a href="#" (click)="onShowBtn(task._id)">show</a>
      </td>
      <td>
        <a href="#" (click)="onDeleteBtn(task._id)">delete</a>
      </td>
      <td>
        <a href="#" (click)="onEditBtn(task)">edit</a>
      </td>
    </tr>
    </p>
  </table>
  <!-- <p *ngIf="aTask">Task that was clicked: {{ aTask.title }}</p> -->
  <h1>New Task</h1>
  <form (submit)="onFormSubmit()">
    <p>{{ newTask | json }}</p>
    <input type="text" name="title" [(ngModel)]="newTask.title">
    <input type="text" name="description" [(ngModel)]="newTask.description">
    <input type="submit" value="Create Task">
  </form>
  <h1 *ngIf="wasEditBtnClicked">
    <form (submit)="onEditFormSubmit()">
      <input type="text" name="title" [(ngModel)]="thisTask.title"/>
      <input type="text" name="description" [(ngModel)]="thisTask.description">
      <input type="submit" value="Update Task">
    </form>
  </h1>
  <app-task *ngIf="aTask" [onShowBtn]="aTask"></app-task>
</body>
</html>