<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>{{ title }}</h1>
  <button (click)="onButton(5)">GET ALL TASKS</button>
  <p *ngFor="let task of tasks">{{ task.title }}<a href="#" (click)="onShowBtn(task._id)">show</a></p>
  <p *ngIf="aTask">Task that was clicked: {{ aTask.title }}</p>
  
  <!-- <p *ngFor="let task of tasks">Task Title: {{ task['title'] }}</p> -->
</body>
</html>