* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 16px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
}

#scrollwheel {
    margin-top: 20px;
    width: 1000px;
    max-height: 300px;
    overflow-y: auto;
}

img {
    width: 200px;
    height: 200px;
}

.allCakes-btn {
    margin: 30px 10px 10px 10px;
    padding: 10px;
    background-color: lightblue;
}

.cakeForm {
    display: inline-block;
}

.displayedCake {
    margin: 10px 0px 10px 0px;
}

.starsSpan {
    display: block;
}