<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Rate My Cakes</h1>
  <form (submit)="onCakeSubmit($event, cakeForm)" #cakeForm="ngForm">
    <label>Image URL:</label>
    <input type="text" name="cakeURL" [(ngModel)]="newCake.cakeURL">
    <label>Baker Name:</label>
    <input type="text" name="baker" [(ngModel)]="newCake.baker">
    <select name="rating" [(ngModel)]="newCake.rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="submit">
  </form>
  <a href="#" (click)="onViewCakes()">View All Cakes? (toggle)</a>
  <table *ngIf="wasViewHit">
      <tr>
        <th>Cake Baker:</th>
        <th>Cake URL:</th>
        <th>Cake Rating:</th>
        <th>Rate:</th>
      </tr>
    <tbody *ngFor="let cake of allCakes">
      <tr>
        <td>{{ cake.baker }}</td>
        <td>{{ cake.cakeURL }}e</td>
        <td>{{ cake.rating }}</td>
        <td>
          <form (submit)="onRateForm($event, rateForm, cake)" #rateForm="ngForm">
            <select name="rating" [(ngModel)]="cake.rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <input type="submit" value="Rate">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>